push temp 1
pop temp 2
push argument 5
pop argument 7
push constant 25
pop constant 18
push static 42
pop static 12
push local 15
pop local 4
push this 7
pop that 8
push pointer 5
pop pointer 1
push pointer 1
pop pointer 0
push pointer 0
pop pointer 2
push pointer 7
